header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.582);
}

.logo {
    width: 110px;
    height: 55px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.8;
}

.menu {
    display: flex;
    flex: .8;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.menu-link {
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.menu-link:hover {
    background-color: black;
}

.menu-link:hover a {
    color: #fff;
}
.menu-link a {
    color: black;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.submenu {
    width: 100px;
    position: absolute;
    top: 90%;
    background-color: black;
    color: #fff;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.submenu:hover li {
    color: black
}


.submenu li {
    border-bottom: 1px solid white;
    border-radius: 0;
    text-align: center;
}

.submenu li:hover {
    border: 1px solid black;
    border-radius: 0;
    background-color: #fff;
    color: black;
}


.submenu {
    height: 0;
    overflow: hidden;
}

ul li:hover ul {
    height: auto;
}

.submenu-link:hover a {
    color: black;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
    display: none;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: inline;
    }

    .navbar {
        position: fixed;
        top: -150vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #000;
        transition: 1s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .responsive_nav {
        transform: translateY(150vh)
    }

    .navbar .nav-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .menu-two {
        position: relative;
        width: 100%;
    }

    .submenu {
        position: absolute;
        top: 0;
        left: 5rem;
    }

}